body{
    margin: 0px;
}

img{
    width: 300px;
    height: 300px;

}

.container{
    display: grid;
    grid-template-rows: repeat;
}


#navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
}

.navlink{
    list-style: none;
    display:flex;
    gap: 16px;
}

#welcome-section{
    grid-row: 2 / 3;
    height: 100vh;
}

.project-tile{
    grid-row: 3 / 4;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 11fr);
}


#contact-container{
   height: 50vh;
   background-color: cadetblue;
   border: 2px solid red;
}

#footer {
    border: 2px solid orange;
}

.contacts{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}





@media (max-width: 800px) {
    
    }