img{
    width: 200px;
    height: 200px;
}

.container{
    
}


#navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
    
}

.navlink{
    list-style: none;
    display:flex;
    gap: 16px;
    
    
    
}

@media (max-width: 800px) {
    
    }