body{
    margin: 0px;
}

img{
    width: 200px;
    height: 200px;

}

.container{
    display: grid;
    grid-template-rows: repeat;
}


#navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
    position
}

.navlink{
    list-style: none;
    display:flex;
    gap: 16px;
}

.welcome-container{
  
}

#welcome-section{
    grid-row: 2 / 3;
    height: 100vh;
    background: linear-gradient(white, gray, black);
    
}



#project-header{
    text-align: center;
    border:1px solid blue;
}
.project-tile{
    text-align: center;
    grid-row: 3 / 4;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 11fr);
}


#contact-container{
   height: 50vh;
   background-color: cadetblue;
   text-align: center;
   display:flex;
   justify-content: center;
   align-content: center;
   flex-direction: column;
   
   
}

#footer {

  
}

#contactme{
  
}

.contacts{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    
}






@media (max-width: 800px) {
    
    }